<h1 id="data_acquisition">Data Acquisition</h1>

Data source: <a href="https://www.kaggle.com/kentonnlp/2014-new-york-city-taxi-trips">https://www.kaggle.com/kentonnlp/2014-new-york-city-taxi-trips</a>

Data type: csv

The Pandas Library is a useful tool that enables us to read various datasets into a data frame; Jupyter notebook platforms have a built-in Pandas Library.

In [1]:
%run ./CaptureLogs.ipynb
logging = foo()

In [2]:
# import pandas library
import pandas as pd

<h1 id="Read">Data Read</h1>

pandas.read_csv() function read the csv file.

In [3]:
# Read the online file by the URL provides above, and assign it to variable "df"
other_path = "../Data/subsetTaxiTrip.csv"
df = pd.read_csv(other_path)

After reading the dataset, we can use the <code>dataframe.head(n)</code> method to check the top n rows of the dataframe; where n is an integer. Contrary to <code>dataframe.head(n)</code>, <code>dataframe.tail(n)</code> will show you the bottom n rows of the dataframe.

In [4]:
# show the first 5 rows using dataframe.head() method
print("The first 5 rows of the dataframe") 
df.head(5)

The first 5 rows of the dataframe

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,CMT,2014-01-09 20:45:25,2014-01-09 20:52:31,1,0.7,-73.994770,40.736828,1,N,-73.982227,40.731790,CRD,6.5,0.5,0.5,1.40,0.0,8.90
1,CMT,2014-01-09 20:46:12,2014-01-09 20:55:12,1,1.4,-73.982392,40.773382,1,N,-73.960449,40.763995,CRD,8.5,0.5,0.5,1.90,0.0,11.40
2,CMT,2014-01-09 20:44:47,2014-01-09 20:59:46,2,2.3,-73.988570,40.739406,1,N,-73.986626,40.765217,CRD,11.5,0.5,0.5,1.50,0.0,14.00
3,CMT,2014-01-09 20:44:57,2014-01-09 20:51:40,1,1.7,-73.960213,40.770464,1,N,-73.979863,40.777050,CRD,7.5,0.5,0.5,1.70,0.0,10.20
4,CMT,2014-01-09 20:47:09,2014-01-09 20:53:32,1,0.9,-73.995371,40.717248,1,N,-73.984367,40.720524,CRD,6.0,0.5,0.5,1.75,0.0,8.75

In [5]:
# show the last 5 rows using dataframe.tail() method
print("The last 5 rows of the dataframe") 
df.tail(5)

The last 5 rows of the dataframe

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
2150249,VTS,2014-01-23 19:48:00,2014-01-23 19:58:00,6,2.07,-73.980430,40.784852,1,NaN,-73.958822,40.768775,CRD,10.0,1.0,0.5,2.2,0.0,13.7
2150250,VTS,2014-01-23 19:50:00,2014-01-23 19:57:00,1,1.38,-73.992455,40.758627,1,NaN,-73.999373,40.748942,CSH,6.5,1.0,0.5,0.0,0.0,8.0
2150251,VTS,2014-01-23 19:54:00,2014-01-23 20:00:00,5,0.65,-73.971587,40.753887,1,NaN,-73.965525,40.758707,CRD,5.5,1.0,0.5,1.3,0.0,8.3
2150252,VTS,2014-01-23 19:47:00,2014-01-23 19:58:00,6,1.95,-73.987230,40.771037,1,NaN,-73.974307,40.756832,CRD,9.5,1.0,0.5,2.1,0.0,13.1
2150253,VTS,2014-01-23 19:58:00,2014-01-23 20:02:00,5,0.77,-73.997657,40.726032,1,NaN,-74.007555,40.731760,CSH,5.0,1.0,0.5,NaN,NaN,NaN

<h1 id="Data Types">Data Types</h1>

Data has a variety of types.
The main types stored in Pandas dataframes are object, float, int, bool and datetime64. In order to better learn about each attribute, it is always good for us to know the data type of each column. In Pandas:

In [6]:
df.dtypes

vendor_id              object
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
trip_distance         float64
pickup_longitude      float64
pickup_latitude       float64
rate_code               int64
store_and_fwd_flag     object
dropoff_longitude     float64
dropoff_latitude      float64
payment_type           object
fare_amount           float64
surcharge             float64
mta_tax               float64
tip_amount            float64
tolls_amount          float64
total_amount          float64
dtype: object

<h2>Describe</h2>

Statistical summary of each column, such as column mean value, column standard deviation, etc.

In [7]:
df.describe(include = "all")

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
count,2150254,2150254,2150254,2.150254e+06,2.150254e+06,2.150254e+06,2.150254e+06,2.150254e+06,1711584,2.150237e+06,2.150237e+06,2150254,2.150254e+06,2.150254e+06,2.150254e+06,2.150253e+06,2.150253e+06,2.150253e+06
unique,2,795910,794691,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN
top,CMT,2014-01-21 08:31:00,2014-01-20 18:53:00,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,CRD,NaN,NaN,NaN,NaN,NaN,NaN
freq,1711745,280,269,NaN,NaN,NaN,NaN,NaN,1673203,NaN,NaN,1165350,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,1.436842e+00,2.743848e+00,-7.279771e+01,4.009301e+01,1.036261e+00,NaN,-7.274040e+01,4.006240e+01,NaN,1.189857e+01,2.854597e-01,4.981830e-01,1.370467e+00,2.342312e-01,1.428728e+01
std,NaN,NaN,NaN,1.006580e+00,3.290308e+00,9.292420e+00,5.258240e+00,1.167834e+00,NaN,9.508041e+00,5.375099e+00,NaN,9.940440e+00,3.523178e-01,3.008648e-02,2.210862e+00,1.167171e+00,1.197708e+01
min,NaN,NaN,NaN,0.000000e+00,0.000000e+00,-1.800000e+02,-1.800000e+02,0.000000e+00,NaN,-1.800000e+02,-1.800000e+02,NaN,2.500000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.500000e+00
25%,NaN,NaN,NaN,1.000000e+00,1.000000e+00,-7.399198e+01,4.073510e+01,1.000000e+00,NaN,-7.399132e+01,4.073427e+01,NaN,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,7.750000e+00
50%,NaN,NaN,NaN,1.000000e+00,1.700000e+00,-7.398183e+01,4.075280e+01,1.000000e+00,NaN,-7.398002e+01,4.075345e+01,NaN,9.000000e+00,0.000000e+00,5.000000e-01,1.000000e+00,0.000000e+00,1.070000e+01
75%,NaN,NaN,NaN,1.000000e+00,3.000000e+00,-7.396694e+01,4.076722e+01,1.000000e+00,NaN,-7.396335e+01,4.076828e+01,NaN,1.350000e+01,5.000000e-01,5.000000e-01,2.000000e+00,0.000000e+00,1.600000e+01
max,NaN,NaN,NaN,9.000000e+00,9.830000e+01,8.054390e+01,6.123879e+01,2.100000e+02,NaN,9.425666e+01,5.149038e+01,NaN,5.000000e+02,1.225000e+01,5.000000e-01,1.560000e+02,2.000000e+01,5.750000e+02

In [8]:
logging.info('Creating info log')

try:
    result = 1 / 0
except ZeroDivisionError:
    logging.exception('Tried to divide by 0, this is an exception!')
else:
    print(result)
    logging.debug(result)

In [ ]:
df.info