<h1 id="data_acquisition">Data Acquisition</h1>
<p>
<ul>
    <li>data source: <a href="https://www.kaggle.com/kentonnlp/2014-new-york-city-taxi-trips">https://www.kaggle.com/kentonnlp/2014-new-york-city-taxi-trips</a></li>
    <li>data type: csv</li>
</ul>
The Pandas Library is a useful tool that enables us to read various datasets into a data frame; Jupyter notebook platforms have a built-in Pandas Library.
</p>

In [3]:
# import pandas library
import pandas as pd

<h1 id="Read">Data Read</h1>
pandas.read_csv() function read the csv file.

In [14]:
# Read the online file by the URL provides above, and assign it to variable "df"
other_path = "../Data/subset_1.csv"
df = pd.read_csv(other_path)

After reading the dataset, we can use the <code>dataframe.head(n)</code> method to check the top n rows of the dataframe; where n is an integer. Contrary to <code>dataframe.head(n)</code>, <code>dataframe.tail(n)</code> will show you the bottom n rows of the dataframe.

In [16]:
# show the first 5 rows using dataframe.head() method
print("The first 5 rows of the dataframe") 
df.head(5)

The first 5 rows of the dataframe

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,CMT,2014-01-09 20:45:25,2014-01-09 20:52:31,1,0.7,-73.994770,40.736828,1,N,-73.982227,40.731790,CRD,6.5,0.5,0.5,1.40,0.0,8.90
1,CMT,2014-01-09 20:46:12,2014-01-09 20:55:12,1,1.4,-73.982392,40.773382,1,N,-73.960449,40.763995,CRD,8.5,0.5,0.5,1.90,0.0,11.40
2,CMT,2014-01-09 20:44:47,2014-01-09 20:59:46,2,2.3,-73.988570,40.739406,1,N,-73.986626,40.765217,CRD,11.5,0.5,0.5,1.50,0.0,14.00
3,CMT,2014-01-09 20:44:57,2014-01-09 20:51:40,1,1.7,-73.960213,40.770464,1,N,-73.979863,40.777050,CRD,7.5,0.5,0.5,1.70,0.0,10.20
4,CMT,2014-01-09 20:47:09,2014-01-09 20:53:32,1,0.9,-73.995371,40.717248,1,N,-73.984367,40.720524,CRD,6.0,0.5,0.5,1.75,0.0,8.75

In [17]:
# show the last 5 rows using dataframe.tail() method
print("The last 5 rows of the dataframe") 
df.tail(5)

The last 5 rows of the dataframe

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
994,CMT,2014-01-09 17:23:41,2014-01-09 17:31:23,2,1.3,-73.978606,40.777603,1,N,-73.978634,40.765009,CRD,7.5,1.0,0.5,1.80,0.0,10.80
995,CMT,2014-01-09 17:22:35,2014-01-09 17:37:42,1,2.3,-73.992733,40.755647,1,N,-73.966540,40.770222,CRD,11.5,1.0,0.5,3.00,0.0,16.00
996,CMT,2014-01-09 17:25:42,2014-01-09 17:29:49,1,0.7,-73.944494,40.779446,1,N,-73.954267,40.778117,CRD,5.0,1.0,0.5,1.25,0.0,7.75
997,CMT,2014-01-09 17:23:33,2014-01-09 17:54:56,1,6.0,-74.007849,40.724774,1,N,-73.945751,40.772760,CRD,23.5,1.0,0.5,5.00,0.0,30.00
998,CMT,2014-01-09 17:27:44,2014-01-09 17:42:37,2,3.2,-73.985328,40.768754,1,N,-73.965762,40.805917,CRD,13.0,1.0,0.5,2.90,0.0,17.40